# Masukan API ID ambil di web my.telegram.org
API_ID = "14200817"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "1f217c5d594a79ce7576802dfa0688f1"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringCilik_Bot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQAN6iGr8FeDi_TmiLnzW8maywqdkzkU4ZFahiJRhFf6faD1AcL3kTANlsoJX6_yqCAIgEEv3oZL70ZfDHXaGsFLQ9aYJ-NKeDjD74Re2v3KzpdI6RA_Xv3B0UhadSD6AfgA1OeYi7_GzAyH2lMLIcOzT68STya1veNeR3epbj39DSmD0bDTCHAmgkncNKOeZUgHIdL1_jeXMFpZUHTvC2c5qcXLi2VGW8R6D2I6uYNyVrAnUS2fF1sx4pQun9AVGKquXLmm10aE8fCjNY-VKVcD7UY9WxeuqD1inGOzTetp4KG9GLOh-cSCnZ-B2zKalHZxrZ91IBu0VPgolx5eeBQAAAAE968rKAA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = 0 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://qhfqcweh:c8Ew52O5IoJH64tRYg0GADXxnMnU7GfQ@mouse.db.elephantsql.com/qhfqcweh"

